<<<<<<< HEAD
﻿<div>salkflashfklasjfgkshglkas</div>
=======
<form id="form" class="form-example p-3" action="#" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="fullname" placeholder="Fullname">
        <label for="fullname">Fullname</label>
    </div>
    <div class="input-group mb-3">
        <div class="form-floating flex-grow-1">
            <input type="text" class="form-control rounded-0 rounded-start" name="email" placeholder="Email">
            <label for="email">Email</label>
        </div>
        <span class="input-group-text">@@asseco-see.com</span>
    </div>
    <div class="form-floating">
        <select class="form-select" name="departament">
            <option selected hidden></option>
            <option value="1">AIS</option>
            <option value="2">Banking</option>
            <option value="3">CIS</option>
            <option value="4">Financat</option>
        </select>
        <label for="departament">Selektoni departamentin</label>
    </div>
</form>
>>>>>>> fd7269780c90d44650edcd9c02c819769937aaef
