<link rel="stylesheet" href="~/css/Home/Partial/signup.css">
<script lang="javascript" type="text/javascript" src="~/js/Home/Partial/signup.js"></script>

<form id="form" class="form-example p-3" action="#" method="post">
    <div id="employeeSection" class="d-none">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="fullname" placeholder="Fullname">
            <label for="fullname">Fullname</label>
        </div>
        <div class="input-group mb-3">
            <div class="form-floating flex-grow-1">
                <input type="text" class="form-control rounded-0 rounded-start" name="email" placeholder="Email">
                <label for="email">Email</label>
            </div>
            <span class="input-group-text">@@asseco-see.com</span>
        </div>
        <div class="row row-cols-12">
            <div class="form-floating col-6">
                <select class="form-select" name="departament">
                    <option selected hidden></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="departament" class="ms-2">Selektoni departamentin</label>
            </div>
            <div class="form-floating col-6">
                <select class="form-select" name="pozita">
                    <option selected hidden></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="pozita" class="ms-2">Selektoni poziten</label>
            </div>
        </div>
    </div>
    <div id="userSection">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="confirmpassword" placeholder="Confirm password">
            <label for="confirmpassword">Confirm password</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button class="btn btn-lg btn-outline-primary" type="submit"><i class="fa fa-user-plus"></i> Sign
                Up</button>
        </div>
    </div>
</form>
<div class="col">
    <div class="row row-col-12 justify-content-center">
        <div id="arrowleft" class="col-1"><i class="fa fa-angle-left"></i></div>
        <div class="col-1"><span>1</span></div>
        <div id="arrowright" class="col-1"><i class="fa fa-angle-right"></i></div>
    </div>
</div>
