@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" :
    $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<form asp-action="ChangeLang" asp-controller="Home" method="post" asp-route-returnUrl="@returnUrl">
    <div class="form-floating">
        <select id="cultureDropdown" class="form-select" name="lang" asp-for="@culture.RequestCulture.UICulture.Name"
            onchange="this.form.submit();">
            <option value="sq">Shqip</option>
            <option value="en">English</option>
            <option value="mk">македонски</option>
        </select>
        <label for="#cultureDropdown">@localizer["lang"]</label>
    </div>
</form>