<div>
    <div class="form-floating mb-3">
        <input type="password" data-strength name="Password" id="Password" class="form-control" placeholder='@Furlough.Resources.Models.User.Display.password' maxlength="32" />
        <label name="Password" pass-label class="control-label">@Furlough.Resources.Models.User.Display.password</label>
        <span name="Password" class="text-danger"></span>
        <span class="material-icons-round text-muted endOfInput noselect" id="showPassword">visibility</span>
    </div>
    <div class="form-floating mb-2">
        <input type="password" confirm-pass disabled class="form-control" placeholder='@Furlough.Resources.Models.User.Display.confirmPassword' />
        <label class="control-label">@Furlough.Resources.Models.User.Display.confirmPassword</label>
        <span name="Password" class="text-danger"></span>
    </div>
</div>
<link rel="stylesheet" href="~/css/Areas/Shared/Partials/password.css">
<script src="~/js/Areas/Shared/Partials/password.js"></script>