.roundIcon {
    min-width: 30px;
    min-height: 30px;
}

.requestCard {
    width: 18rem;
    max-height: 405px;
    border-radius: 0.55rem;
    font-family: 'Trebuchet MS','monospace';
    overflow: hidden;
}

    .requestCard .card-body {
        min-width: 250px;
    }

div.card {
    overflow-x: auto;
}