.roundIcon {
    min-width: 30px;
    min-height: 30px;
}

.requestCard {
    width: 18rem;
    min-width: 250px;
    max-height: 405px;
    border-radius: 0.55rem;
    font-family: 'Trebuchet MS','monospace';
}