#userCreateForm .strength {
    height: 0px;
    width: 100%;
    background: #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    transition: all 0.3s;
}
#userCreateForm .strength span {
    width: 0px;
    height: 4px;
    display: block;
    transition: width 0.3s;
}

.endOfInput {
    position: absolute;
    right: 0;
    top: calc(1rem + 2px);
    margin: 0 0.7rem 0 0.7rem;
    cursor: pointer;
    border-radius: 50%;
}

#Password {
    padding-right: 40px;
}