@{
    ViewData["Title"] = "Home Page";
}
@model User


<div class="container h-100">
    <!-- Login Form -->
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-5 rounded">
            <div class="row row-cols-12 text-center bg-white mb-3 shadow rounded-top fs-4">
                <div id="login" class="col-6 py-3">
                    <p class="m-0">Log In</p>
                </div>
                <div id="signup" class="col-6 py-3">
                    <p class="m-0">Sign Up</p>
                </div>
            </div>
            <div id="formWrapper" class="col bg-white shadow rounded-bottom overflow-hidden">
                <partial name="./Partial/Login.cshtml"/>
            </div>
        </div>
    <!-- Login Form End-->
    </div>
</div>
<script lang="javascript" type="text/javascript" src="~/js/Home/index.js"></script>