@{
    ViewData["Title"] = "Home Page";
}
@model User


<div class="container h-100">
    <!-- Login Form -->
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-5 rounded">
            <div class="row row-cols-12 text-center bg-white mb-3 shadow rounded-top fs-4">
                <div id="login" class="col-6 py-3">
                    <p class="m-0">Log In</p>
                </div>
                <div id="signup" class="col-6 py-3">
                    <p class="m-0">Sign Up</p>
                </div>
            </div>
            <div class="row bg-white shadow rounded-bottom">
                <form class="form-example p-3" action="#" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username...">
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" name="password" placeholder="Password...">
                        <label for="password">Password</label>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-lg btn-outline-primary" type="submit">
                            <i class="fa fa-sign-in"></i> Login</button>
                    </div>
                    <a href="#" class="float-end">Forgot Password?</a>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" name="remember-me">
                        <label class="form-check-label" for="remember-me">Remember Me</label>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- Login Form End-->
</div>