@model User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home/index.css"/>

<div id="modalWrapper" class="d-flex flex-column mx-auto">
    <div class="d-flex flex-row mb-3 rounded-top bg-white position-relative shadow-sm">
        <div id="login" class="d-flex flex-grow-1 justify-content-center p-3"><span class="fw-bold text-primary fs-5">@Localizer["Login"]</span></div>
    </div>
    <div id="formWrapper" class="d-flex flex-row bg-white rounded-bottom shadow-sm">
        <partial name="./Partial/Login"/>
    </div>
    @if (@ViewBag.hasMessage)
    {
        <div id="messageContainer" class="d-flex rounded mt-3 text-white text-center">
            <div id="messageContainerDismiss">&#10006;</div>
            <div>
                <span>@ViewBag.invalidLogin</span>
            </div>
        </div>
    }
</div>