@model Furlough.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<div class="container subPageContainer">
    <div class="w-100">
        <div class="detailHeaderWrapper d-flex justify-content-between mb-3">
            <div class="blue-gradient rounded customSubPageTitle text-center">
                <h2 class="text-white mt-2">Employee Edit</h2>
            </div>
            <div class="d-flex align-items-center">
                <a class="mx-1 text-danger paddingXBtn rounded border border-danger" asp-action="Delete"
                    asp-route-id="@Model.Id">@Resources.Shared._Admin_Layout_en.delete</a>
            </div>
        </div>
    </div>
    <div id="detailsWrapper" class="w-100 ms-4">
        <div class="row">
            <div class="px-0 col-lg-6 col-md-8 col-sm-10 col-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-floating mb-3">
                        <select class="form-control" asp-for="UserId" asp-items="ViewBag.UserId"></select>
                        <label asp-for="UserId"></label>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="JoinDate"/>
                        <label asp-for="JoinDate"></label>
                        <span asp-validation-for="JoinDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control" asp-for="PositionId" asp-items="ViewBag.Positions"></select>
                        <label asp-for="PositionId"></label>
                        <span asp-validation-for="PositionId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control" asp-for="DepartmentId" asp-items="ViewBag.Departments"></select>
                        <label asp-for="DepartmentId"></label>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="Email" placeholder="Email"/>
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-2">
                        <input class="form-control" asp-for="Name" placeholder="Name"/>
                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="form-group">
                            <input type="submit" value="@Resources.Shared._Admin_Layout_en.save"
                                class="btn btn-primary" />
                        </div>
                        <div class="w-auto">
                            <a class="mx-1 px-4 rounded btn btn-primary" asp-action="Index">
                                @Resources.Shared._Admin_Layout_en.backToList
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>