.roundIcon {
    align-items: center;
    justify-content: center;
    min-width: 42px;
    min-height: 42px;
    display: inline-flex;
    border-radius: 50%;
}

.roundIconValue {
    border-width: 0 2px 2px 0 !important;
}

.availableDaysWrapper {
    padding: 1rem 0.75rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.availableDaysWrapper input {
    width: 0px;
    text-align: center;
}
    .availableDaysWrapper input:hover {
        border: 2px solid var(--bs-indigo) !important;
    }
    .availableDaysWrapper input:focus {
        border: 2px solid var(--bs-indigo) !important;
    }

/* Hide arrows on number type inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


.availableDaysWrapper label {
    opacity: .65;
}