.tabBar {
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}
.tabBar .line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 0;
  background: #000;
}
.tabBarList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.tabBarArrow {
  color: #fff;
}
.tabBarArrow:hover {
  cursor: pointer;
  color: #aaa;
}
.tabBarItem {
  padding: 0;
  transition: all 0.4s ease;
}
.tabBarItem:hover a {
  color: #aaa;
}
.tabBarItem.activeBar a {
  color: #000;
}
.tabBarItem.activeBar {
  background: white;
  opacity: 1;
}
.tabBarItem:last-child {
  margin-right: 0;
}
.tabBarItem a {
  padding: 0.5rem 0;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}
.divLink div {
  text-decoration: none;
  color: #000;
}
.dashboardTableHeader {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}
.dashboardTableHeader:hover {
  color: #aaa;
}
.listHeader li {
  padding: 0.5rem 0;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
}
.listItem li {
  padding: 0;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  display: block;
  font-weight: 600;
  font-size: 14px;
}
.listItem li a {
  padding: 0.6rem 0;
}

.prov{
    background-color:red;

}
