tr {
  height: 40px;
}
td {
  position: relative;
}
a {
  text-decoration: none;
  color: black;
}
.rowLink::before {
  margin-top: -8px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.customSubPageTitle {
  width: 50%;
}
.subPageContainer {
  margin: 2.5%;
}
.blue-gradient {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}
.blue-gradient-div {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;
  width: 70%;
  z-index: 1;
}
.tableDiv, .responsiveTableDiv, .roleTableDiv {
  margin-top: -3rem;
}
#login:hover,
#signup:hover {
  color: #1e77e2 !important;
  cursor: pointer;
}