

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

html,
body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    position: relative;
}
/*
aside::after {
    content: "";
    display: block;
    width:20px;
    height:100%;
    position: relative;
    left:90%;
    background-color: red;
}*/

aside {
    z-index: 2;
}

*{
    box-sizing: border-box;
}

#infoCardsWrapper {
    margin-left: var(--bs-gutter-x, -0.75rem);
    margin-right: var(--bs-gutter-x, -0.75rem);
}

#infoCards {
    height: 275px;
    overflow: hidden;
}

#infoCards div.card {
    min-height:150px;
    max-height:230px;
}

#infoCardsArrowLeft, #infoCardsArrowRight {
    z-index: 1;
}

    #infoCardsArrowLeft:hover, #infoCardsArrowRight:hover {
        cursor: pointer;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    }

#infoCardsArrowLeft {
    left: -100px;
}

#infoCardsArrowRight {
    right: -100px;
}
