

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

html,
body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    position: relative;
}

aside {
    z-index: 2;
}

*{
    box-sizing: border-box;
}

#infoCardsWrapper {
    margin-left: var(--bs-gutter-x, -0.75rem);
    margin-right: var(--bs-gutter-x, -0.75rem);
}

#infoCards {
    height: 275px;
    overflow: hidden;
    overflow-x: scroll;
}

    #infoCards div.card {
        height: 150px;
        overflow-y: auto;
    }

        #infoCards div.card::-webkit-scrollbar {
            width: 0.3rem;
        }

        /*the scrollbar arrows on the sides*/
        #infoCards div.card::-webkit-scrollbar-button {
            display: none;
        }

        /*the draggable scrollbar handle*/
        #infoCards div.card::-webkit-scrollbar-thumb {
            background-color: rgba(13,168,226, 0.1);
            border-radius: 1rem;
        }

        /*the scrollbar track*/
        #infoCards div.card::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.05);
            border-radius: 1rem;
        }

        #infoCards div.card .card-title {
            position: sticky;
            top: 1rem;
            background-color: white;
            z-index: 1;
        }

        #infoCards div.card .card-title:before {
            content: '';
            position: absolute;
            top: -1rem;
            background-color: white;
            width: 100%;
            height: 1rem;
        }

#infoCardsArrowLeft, #infoCardsArrowRight {
    z-index: 1;
}

    #infoCardsArrowLeft:hover, #infoCardsArrowRight:hover {
        cursor: pointer;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    }

#infoCardsArrowLeft {
    left: -100px;
}

#infoCardsArrowRight {
    right: -100px;
}

#calendarWrapper .row {
    background-color: green;
}

#calendarWrapper .col-auto {
    height: 112px;
    width: 112px;
}

.clickable {
    cursor: pointer;
}

    .clickable:hover {
        color: rgba(0,0,0,0.5);
        transition: 0.2s ease-in-out;
    }


#selectedDaysList::-webkit-scrollbar {
    width: 0.4rem;
}

/*the scrollbar arrows on the sides*/
#selectedDaysList::-webkit-scrollbar-button {
    display: none;
}

/*the draggable scrollbar handle*/
#selectedDaysList::-webkit-scrollbar-thumb {
    background-color: #0da8e2;
    border-radius: 1rem;
}

/*the scrollbar track*/
#selectedDaysList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px 3px rgb(0 0 0 / 5%);
    border-radius: 1rem;
}

#requestDetailsWrapper {
    left: 0%;
    z-index: 1;
    min-width: 250px;
}

    #requestDetailsWrapper textarea {
        min-height: 100px;
        max-height: 250px;
    }

#labelReason {
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 7px;
    padding-top: 0;
    padding-bottom: 0;
}

#calendarWrapper {
}

#selectedDaysWrapper {
}

section {
    /*justify-content: start !important;*/
    overflow-x: auto !important;
}

.roundIcon {
    align-items:center;
    justify-content: center;
    min-width: 42px;
    min-height: 42px;
    display: inline-flex;
    border-radius: 50%;
}