@model IEnumerable<Furlough.Models.DepartmentPositions>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Areas/Manager/Department/index.css"/>
<div class="w-100 h-100">
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col">
                <div class="position-relative">
                    <div class="row" id="hiderDiv">
                    </div>
                </div>
                <h3><i class="fa-solid fa-bank"></i> //Banking// department</h3>
                <div class="row">
                    <div class="col p-5"><span class="fs-4 position-relative bg-white px-3" style="top:20px;">Roles  <i class="fa-regular fa-pen-to-square ms-1 clickable" title="Edit roles" id="rolesEditBtn"></i></span>
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 px-5 pt-4 pb-3 border shadow-sm roleBorder" id="rolesContainer">
                            @{
                                foreach (var item in (IEnumerable<Furlough.Models.Position>)ViewBag.positions)
                                {
                                    <div class="rounded-pill m-2 p-1 text-center overflow-hidden fw-bold text-nowrap rolePill addedRole"><span>@item.Title</span></div>
                                }
                            }
                        </div>
                        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 px-5 py-4 border roleBorder position-relative" id="rolesEditContainer">
                            @{
                                foreach (var item in (IEnumerable<Furlough.Models.Position>)ViewBag.unaddedPositions)
                                {
                                    <div class="rounded-pill m-2 p-1 text-center overflow-hidden fw-bold text-nowrap rolePill unaddedRole"><span>@item.Title</span></div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    Scripts    -->
<script src="~/js/Areas/Manager/Department/index.js"></script>