.rolePill {
    min-width: 200px !important;
    background-color: #41b0eb;
    color: white;
}

    .rolePill:hover {
        cursor: pointer;
        opacity: 0.5;
        color: rgba(0,0,0,1);
    }

.clickable:hover {
    cursor: pointer;
    color: #0ca8c7;
}

.roleBorder {
    border-radius: 0.55rem;
}

#rolesContainer {
    background: white;
}

#hiderDiv {
    background-color: white;
    top: -3rem;
    min-height: 250px;
    z-index: -1;
    position: absolute;
    width: 100%;
}

#rolesEditContainer {
    top: -100%;
    z-index: -2;
}