.rolePill {
    min-width: 200px !important;
}

.clickable:hover {
    cursor: pointer;
    color: #0ca8c7;
}

.roleBorder {
    border-radius: 0.55rem;
}

#rolesContainer {
    background: white;
}

#hiderDiv {
    background-color: white;
    top: 0px;
    min-height: 300px;
    position: absolute;
    width:80%;
    z-index:-1;
}

#rolesEditContainer {
    top: -100%;
    height: 500px;
    z-index: -2;
}